<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for API calls to backend server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitwiseMobile"
        tools:targetApi="31">
        
        <!-- Transaction management activity -->
        <activity
            android:name=".AddTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.SplitwiseMobile" />
        
        <!-- Main group dashboard -->
        <activity
            android:name=".MainPageActivity"
            android:exported="false" />
        
        <!-- Group creation -->
        <activity
            android:name=".CreateGroupActivity"
            android:exported="false" />
        
        <!-- Join existing group -->
        <activity
            android:name=".JoinGroupActivity"
            android:exported="false" />
        
        <!-- Enter user's groups -->
        <activity
            android:name=".EnterGroupActivity"
            android:exported="false" />
        
        <!-- Group management hub -->
        <activity
            android:name=".GroupActivity"
            android:exported="false" />
        
        <!-- User registration -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        
        <!-- User login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        
        <!-- Welcome/Landing screen - App entry point -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main activity - redirects to Welcome -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>